{% if in_wishlist %}
    <form hx-post="{% url 'remove_from_wishlist' collectible.id %}" hx-swap="outerHTML" hx-indicator="#wishlist-indicator">
        <button type="submit" class="btn btn-sm btn-outline">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 text-error" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
            Remove from Wishlist
            <span id="wishlist-indicator" class="htmx-indicator">
                <span class="loading loading-spinner loading-xs ml-2"></span>
            </span>
        </button>
    </form>
{% else %}
    <form hx-post="{% url 'add_to_wishlist' collectible.id %}" hx-swap="outerHTML" hx-indicator="#wishlist-indicator">
        <button type="submit" class="btn btn-sm btn-outline">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
            Add to Wishlist
            <span id="wishlist-indicator" class="htmx-indicator">
                <span class="loading loading-spinner loading-xs ml-2"></span>
            </span>
        </button>
    </form>
{% endif %}
